@import '../common/colors';

@mixin theme-color {
  :root {
    --color-black: #{$color-black};
    --color-white: #{$color-white};
    --color-gray: #{$color-gray};
    --color-brand: #{$color-brand};
    --color-error: #{$color-error};
    --color-success: #{$color-success};

    --color-gray-10: #{$color-gray-10};
    --color-gray-20: #{$color-gray-20};
    --color-gray-30: #{$color-gray-30};
    --color-gray-40: #{$color-gray-40};
    --color-gray-50: #{$color-gray-50};
    --color-gray-60: #{$color-gray-60};
    --color-gray-70: #{$color-gray-70};
    --color-gray-80: #{$color-gray-80};
    --color-gray-90: #{$color-gray-90};

    //
    --color-brand-10: #{$color-brand-10};
    --color-brand-20: #{$color-brand-20};
    --color-brand-30: #{$color-brand-30};
    --color-brand-40: #{$color-brand-40};
    --color-brand-50: #{$color-brand-50};
    --color-brand-60: #{$color-brand-60};
    --color-brand-70: #{$color-brand-70};
    --color-brand-80: #{$color-brand-80};
    --color-brand-90: #{$color-brand-90};

    // warning

    // info
  }
}
