/* text */
:root {
  --gray: var(--gray-50);
  --primary: var(--primary-50);
  --secondary: var(--secondary-50);

  --color-text: var(--black);
  --color-background: var(--white);

  --color-link: var(--primary);
  --color-link-hover: var(--secondary);
}
