@mixin theme-color-base {
  body {
    --color-text: var(--black);
    --color-background: var(--white);

    --color-link: var(--primary);
    --color-link-hover: var(--primary);
  }

  [data-scheme-dark] {
    --color-text: var(--white);
    --color-background: var(--gray-90);

    --color-link: var(--primary);
    --color-link-hover: var(--primary);
  }
}
