$color-black: #000000;
$color-white: #ffffff;

$color-gray: #858585;
$color-brand: #1ea3f8;

$color-error: #f04438;
$color-warning: #f79009;
$color-success: #12b76a;
$color-info: #286bfc;

$color-purple: #8b55f8;
$color-pink: #f535cf;

$color-brand-10: #ddf1fe;
$color-brand-20: #a5dafc;
$color-brand-30: #6dc3fa;
$color-brand-40: #35acf9;
$color-brand-50: #1ea3f8;
$color-brand-60: #1b93df;
$color-brand-70: #146aa1;
$color-brand-80: #0c4163;
$color-brand-90: #051825;

$color-gray-10: #ededed;
$color-gray-20: #cecece;
$color-gray-30: #b0b0b0;
$color-gray-40: #919191;
$color-gray-50: #858585;
$color-gray-60: #787878;
$color-gray-70: #565656;
$color-gray-80: #353535;
$color-gray-90: #141414;

$color-error-50: #f04438;
$color-warning-50: #f79009;
$color-success-50: #12b76a;
$color-info-50: #286bfc;

$color-purple-50: #8b55f8;
$color-pink-50: #f535cf;
