$color-gray: #{$color-gray-50};
$color-brand: #{$color-brand-50};
$color-error: #{$color-error-50};
$color-success: #{$color-success-50};

$color-text: #{$color-black};
$color-link: #{$color-brand-50};

$font-text: ('Inter', 'Avenir', 'Helvetica', 'Arial', sans-serif) !default;
$font-code: (
  'Courier New',
  'DejaVu Sans Mono',
  'Bitstream Vera Sans Mono',
  'Monaco',
  monospace
) !default;

$max-width: 1180px !default;

$breakpoints: (
  'small': 767px,
  'medium': 992px,
  'large': 1200px,
);

$base-url: '/assets/' !default;
