.form {
}
.form-section {
  background-color: #fff;
}

.form_steps {
  &.is-first {
    button[name='previous'] {
      display: none;
    }
  }

  &.is-last {
    button[name='next'] {
      display: none;
    }

    button[name='submit'] {
      display: inline-block;
    }
  }
}

.form_steps button[name='submit'] {
  display: none;
}

.animation-slide {
  position: relative;
  overflow: hidden;

  .is-inactive {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    z-index: -1;
  }

  &.on-previous {
    .is-active {
      animation: previous-slide-in 250ms 250ms ease-in-out both;
    }
    .is-active + .is-inactive {
      animation: previous-slide-out 250ms ease-in-out both;
    }
  }

  &.on-next {
    .is-active {
      animation: next-slide-in 250ms 250ms ease-in-out both;
    }
    .is-inactive:has(+ .is-active) {
      animation: next-slide-out 250ms ease-in-out both;
    }
  }
}

@keyframes previous-slide-in {
  0% {
    opacity: 0;
    transform: translateX(10%);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes previous-slide-out {
  0% {
    opacity: 1;
    transform: translateX(0);
  }

  100% {
    opacity: 0;
    transform: translateX(-10%);
  }
}

@keyframes next-slide-in {
  0% {
    opacity: 0;
    transform: translateX(-10%);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes next-slide-out {
  0% {
    opacity: 1;
    transform: translateX(0);
  }

  100% {
    opacity: 0;
    transform: translateX(10%);
  }
}
