.button {
  appearance: none;
  cursor: pointer;
  outline: none;

  color: $white;
  background-color: $blue;

  border: none;
  border-radius: $button-border-radius;
  box-sizing: border-box;

  text-align: center;
  text-decoration: none;

  height: $button-height;
  padding: $button-padding;

  @include transition();

  &:hover {
    background: darken($blue, 20);
  }
  &:active {
    background: $blue;
  }
}
