.dd-block,
.dd-field {
  border: 1px dashed #eee;
  transition: all 0.5s ease-out;
  position: relative;
  user-select: none;
}

.dragging {
  opacity: 0.1;
  border: 1px dashed #eee !important;
}

.dragging .-over {
  border: 1px dashed #eee !important;
}

.on-top {
  border-top-color: #000;
}
.on-bottom {
  border-bottom-color: #000;
}
.on-left {
  border-left-color: #000;
}
.on-right {
  border-right-color: #000;
}

.dd-toolbar {
  position: absolute;
}

.dd-content {
  padding: 1rem;
  background-color: #fff;
  transition: all 0.5s ease-out;
}

.dd-content:empty:before {
  content: 'drop...';
  display: block;
  background: #f8f8f8;
  padding: 1rem;
  color: #ddd;
  border: 1px dashed #f8f8f8;
  transition: all 0.5s ease-out;
  width: 100%;
}

.on-middle .dd-content:empty:before {
  border-color: #000;
}

#dropholder {
  border-color: #eee;
  > .-hover {
    box-shadow: none;
  }
}

#dropholder._over {
  > .dd-content:empty:before {
    border-color: #000;
  }
}

.-hover {
  box-shadow: 0 0 1px 1px rgba(46, 95, 255, 0.1);
}
.focus > .dd-content {
  box-shadow: 0 0 1px 1px rgba(46, 95, 255, 0.3);
}

#f-main .dd-content {
  display: flex;
}
