.drop,
.drag {
  border: 1px dashed #eee;
  transition: all 0.5s ease-out;
  margin: 1px;
}

.top {
  border-top-color: #000;
}
.bottom {
  border-bottom-color: #000;
}
.left {
  border-left-color: #000;
}
.right {
  border-right-color: #000;
}

.content {
  padding: 1rem;
}
