.dd-block,
.dd-field {
  border: 1px dashed #eee;
  transition: all 0.5s ease-out;
  margin: 1px;
}

.dragging {
  opacity: 0.1;
  border: 1px dashed #eee !important;
}

.dragging .over {
  border: 1px dashed #eee !important;
}

.move-top {
  border-top-color: #000;
}
.move-bottom {
  border-bottom-color: #000;
}
.move-left {
  border-left-color: #000;
}
.move-right {
  border-right-color: #000;
}

.dd-content {
  padding: 1rem;
}

.dd-content:empty:before {
  content: 'drop...';
  display: block;
  background: #f8f8f8;
  padding: 1rem;
  color: #ddd;
  border: 1px dashed #f8f8f8;
  transition: all 0.5s ease-out;
}

.hover-center .content.empty:before {
  border: 1px dashed #000;
}
