/*
input {
  border: 1px solid transparent;
  box-sizing: border-box;
  outline: none;
  appearance: none;
  border-radius: 8px;

  width: 100%;

  font-size: $base-font-size;
  height: $input-height;
  padding: $input-padding;
  color: $base-font-color;
  background-color: #efefef;

  @include transition();
}

input:hover {
  background-color: $white;
  border-color: darken(gray, 8);
  box-shadow: 0 0 0 4px gray;
}

input[type='checkbox'] {
  height: 19px;
  padding: 5px 9px;
  border-radius: 4px;
  background: $white;
  border-color: darken(gray, 8);
  vertical-align: middle;
  width: auto;
}

input:checked[type='checkbox'] {
  background: #4f3cc9
    url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTIiIGhlaWdodD0iMTIiIHZpZXdCb3g9IjAgMCAxMiAxMiIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48cGF0aCBkPSJNMTAuNjQwMiAyLjIzNjQ4QzEwLjIxNjIgMS44NzU5OCA5LjU4NTcgMS45MzQ0OCA5LjIzMTcgMi4zNjc0OEw0LjgwNzIgNy43ODQ5OEwyLjU1NTIgNi4yNTI5OEMyLjA5NjIgNS45Mzk5OCAxLjQ3NDcgNi4wNjY5OCAxLjE2ODcgNi41MzU5OEMwLjg2MjcwMSA3LjAwNDk4IDAuOTg2NzAxIDcuNjM4NDggMS40NDYyIDcuOTUwOThMNS4xOTMyIDEwLjVMMTAuNzY4NyAzLjY3MzQ4QzExLjEyMjIgMy4yNDA0OCAxMS4wNjQ3IDIuNTk3NDggMTAuNjQwMiAyLjIzNjQ4WiIgZmlsbD0id2hpdGUiLz48L3N2Zz4=);
  background-repeat: no-repeat;
  background-position: center center;
  transition: none;
}

input[type='radio'] {
  height: 20px;
  padding: 10px;
  border-radius: 20px;
  background: $white;
  border-color: darken(gray, 8);
  vertical-align: middle;
  width: auto;
}

input:checked[type='radio'] {
  background: #4f3cc9
    url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTIiIGhlaWdodD0iMTIiIHZpZXdCb3g9IjAgMCAxMiAxMiIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48cGF0aCBkPSJNMTAuNjQwMiAyLjIzNjQ4QzEwLjIxNjIgMS44NzU5OCA5LjU4NTcgMS45MzQ0OCA5LjIzMTcgMi4zNjc0OEw0LjgwNzIgNy43ODQ5OEwyLjU1NTIgNi4yNTI5OEMyLjA5NjIgNS45Mzk5OCAxLjQ3NDcgNi4wNjY5OCAxLjE2ODcgNi41MzU5OEMwLjg2MjcwMSA3LjAwNDk4IDAuOTg2NzAxIDcuNjM4NDggMS40NDYyIDcuOTUwOThMNS4xOTMyIDEwLjVMMTAuNzY4NyAzLjY3MzQ4QzExLjEyMjIgMy4yNDA0OCAxMS4wNjQ3IDIuNTk3NDggMTAuNjQwMiAyLjIzNjQ4WiIgZmlsbD0id2hpdGUiLz48L3N2Zz4=);
  background-repeat: no-repeat;
  background-position: center center;
  transition: none;
}
*/

input[type='range'] {
  -webkit-appearance: none;

  background-image: linear-gradient(90deg, #ddd 0%, #000 0%, #000 0%, #ddd 0%);

  height: 2px;
  width: 100%;

  &:focus {
    outline: none;
  }
}

::-webkit-slider-runnable-track {
  -webkit-appearance: none;
}

::-webkit-slider-thumb {
  -webkit-appearance: none;

  height: 10px;
  width: 10px;
  border-radius: 10px;
  background: #000;
  cursor: pointer;
}

::placeholder {
  color: rgb(160, 160, 160);
  opacity: 1;
  font-size: 1rem;
}

input:-webkit-autofill {
  border-color: gray;
  -webkit-box-shadow: inset 0 0 0 500px gray;
}

input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
  border-color: darken(gray, 8);
  -webkit-box-shadow: inset 0 0 0 500px $white, 0 0 0 4px gray;
}

// CHECKICON
.checkicon {
  input {
    display: none;
  }

  i {
    @include material-icons();
  }

  i:hover {
    color: darken(gray, 20);
  }

  input + i {
    color: gray;
    @include transition();
  }

  input:checked + i {
    color: gray;
  }
}

.switch {
  background-color: rgb(110, 110, 110);
  border-radius: 8px;
  box-sizing: border-box;
  height: 16px;
  position: relative;
  width: 28px;
  display: flex;
  cursor: pointer;
  transition: background-color 300ms cubic-bezier(0.32, 0.94, 0.6, 1) 0s;
  align-items: center;

  &.-on {
    background-color: rgb(73, 169, 114);
  }

  input {
    background-color: rgb(255, 255, 255);
    border-radius: 50%;
    box-sizing: border-box;
    height: 12px;
    margin: 2px;
    width: 12px;
    appearance: none;
    cursor: pointer;
    outline: none;
    transition: all 300ms cubic-bezier(0.32, 0.94, 0.6, 1) 0s;

    &:checked {
      transform: translateX(12px);
    }
  }
}
