@import '../abstract/colors';

@mixin theme-color {
  :root {
    --black: #{$black};
    --white: #{$white};
    --gray: #{$gray};
    --primary: #{$primary};
    --error: #{$error};
    --warning: #{$warning};
    --success: #{$success};

    --gray-10: #{$gray-10};
    --gray-20: #{$gray-20};
    --gray-30: #{$gray-30};
    --gray-40: #{$gray-40};
    --gray-50: #{$gray-50};
    --gray-60: #{$gray-60};
    --gray-70: #{$gray-70};
    --gray-80: #{$gray-80};
    --gray-90: #{$gray-90};

    --primary-10: #{$primary-10};
    --primary-20: #{$primary-20};
    --primary-30: #{$primary-30};
    --primary-40: #{$primary-40};
    --primary-50: #{$primary-50};
    --primary-60: #{$primary-60};
    --primary-70: #{$primary-70};
    --primary-80: #{$primary-80};
    --primary-90: #{$primary-90};

    // warning

    // info
  }
}
