.drag-area {
  display: flex;
}

.drag-item {
  padding: 1rem;
  border: 1px solid #eee;
  border-radius: 5px;
}

.drop-item {
  border: 1px dashed #ddd;
  background-color: #fff;
  padding: 1rem;
  transition: all 0.3s ease-out;
  position: relative;
}

.is-disabled {
  opacity: 0.5;
}

.is-dragging {
  opacity: 0.3;
}

.is-empty:after {
  content: 'drop...';
  display: block;
  padding: 1rem;
  text-align: center;
  color: #ccc;
  background: #f8f8f8;
  border: 1px dashed #f8f8f8;
  transition: all 0.3s ease-out;
}

.on-middle:after {
  border-color: #333;
}

.on-top {
  border-top-color: #333;
}

.on-bottom {
  border-bottom-color: #333;
}

.on-left {
  border-left-color: #333;
}

.on-right {
  border-right-color: #333;
}
