.drop-item {
  border: 1px dashed #ddd;
  background-color: #fff;
  padding: 1rem;
  transition: all 0.5s ease-out;
  position: relative;
}

.is-dragging {
  opacity: 0.3;
}

.is-empty:after {
  content: 'drop...';
  display: block;

  padding: 1rem;
  text-align: center;
  color: #ccc;
  background: #f8f8f8;
  border: 1px dashed #f8f8f8;
  transition: all 0.3s ease-out;
}

.on-middle-middle:after {
  border-color: #333;
}

.on-top-left,
.on-top-right,
.on-top-middle {
  border-top-color: #333;
}

.on-bottom-left,
.on-bottom-right,
.on-bottom-middle {
  border-bottom-color: #333;
}
