.sortable-list {
  padding: 1rem;
  background-color: #f8f8f8;
  display: flex;
  flex-direction: column;
  user-select: none;
  overflow: hidden;
  transition: all 0.3s ease-out;
}
.sortable-item {
  padding: 1rem;
  box-sizing: border-box;
  border: 1px solid #eee;
  background-color: #fff;
  min-height: 40px;
  display: flex;
  transition: all 0.3s ease-out;
  //transition: transform 0.2s cubic-bezier(0.2, 0, 0, 1);
}

.is-dragging {
  //position: fixed;
  //visibility: hidden;
  z-index: 0;
  pointer-events: none;
}
