*,
:after,
:before {
  box-sizing: border-box;
}

body {
  color: var(--color-text);
}

a {
  color: var(--color-text-link);

  &:hover {
    color: var(--color-text-link-hover, var(--color-text-link));
  }
}

button {
  appearance: none;

  color: var(--color-text-button);

  &:disabled {
    color: var(--color-text-button-disabled);
  }
}