:root {
  // pallete
  --black: #{$black};
  --gray: #{$gray};
  --white: #{$white};

  // brand
  --primary: #{$primary};
  --secondary: #{$secondary};

  // primary
  --red: #{$red};
  --yellow: #{$yellow};
  --blue: #{$blue};

  // secondary
  --purple: #{$purple};
  --orange: #{$orange};
  --green: #{$green};

  --color-text: #{$black};

  --color-text-link: #{$primary};
  --color-text-link-hover: #{$secondary};

  --color-text-button: #{$black};
  --color-text-button-hover: #{$black};
  --color-text-button-disabled: #{$gray};
}