@import './vars.scss';

/* color */
:root {
  --black: #{$black};
  --dark-gray: #{$dark-gray};
  --gray: #{$gray};
  --light-gray: #{$light-gray};
  --white: #{$white};

  // brand
  --primary: #{$primary};
  --secondary: #{$secondary};

  // primary
  --red: #{$red};
  --yellow: #{$yellow};
  --blue: #{$blue};

  // secondary
  --purple: #{$purple};
  --orange: #{$orange};
  --green: #{$green};
}

@import './base/base-var-dark.scss';
@import './button/button-var-dark.scss';
