// https://coolors.co/palette/000000-14213d-fca311-e5e5e5-ffffff
// https://www.schemecolor.com/my-web-colors-scheme.php

$black: #000000;
$dark-gray: #333333;
$gray: #808080;
$light-gray: #eeeeee;
$white: #ffffff;

$primary: #0a369d;
$secondary: #1ea3f8;

$red: red;
$yellow: yellow;
$blue: blue;

$purple: purple;
$orange: orange;
$green: green;
