// https://coolors.co/palette/000000-14213d-fca311-e5e5e5-ffffff
// https://www.schemecolor.com/my-web-colors-scheme.php
//https://dribbble.com/shots/18117988-Attio-Accessible-Color-Base-Palette/attachments/13312931?mode=media
//https://m2.material.io/design/color/dark-theme.html
//https://compilezero.medium.com/dark-mode-ui-design-the-definitive-guide-part-1-color-53dcfaea5129
//https://dribbble.com/shots/16633194/attachments/11664802?mode=media
//https://uxplanet.org/ultimate-guide-to-color-in-ux-ui-design-de8eb104b5d3
//https://www.moonlearning.io/resources-student

// gray
$gray-10: #e7e7e7;
$gray-20: #cecece;
$gray-30: #b6b6b6;
$gray-40: #9d9d9d;
$gray-50: #858585;
$gray-60: #6a6a6a;
$gray-70: #505050;
$gray-80: #353535;
$gray-90: #1b1b1b;

//

$black: #000000;
$white: #ffffff;

$gray-dark: $gray-90;
$gray: $gray-50;
$gray-light: $gray-10;

$primary-dark: #0a369d;
$primary: #0a369d;
$primary-light: #0a369d;

$secondary-dark: #1ea3f8;
$secondary: #1ea3f8;
$secondary-light: #1ea3f8;

$error-dark: #0a369d;
$error: #0a369d;
$error-light: #0a369d;

$success-dark: #0a369d;
$success: #0a369d;
$success-light: #0a369d;

$red: red;
$yellow: yellow;
$blue: blue;

$purple: purple;
$orange: orange;
$green: green;
