.droppable-area {
  padding: 1rem;
  background-color: #f8f8f8;
}
.droppable-area.is-over {
  background-color: #efefef;
}
.draggable-area {
  display: flex;
  padding: 1rem;
}

.drag-item {
  padding: 1rem;
  border: 1px solid #eee;
  border-radius: 5px;
}

.drop-item {
  border: 1px dashed #ddd;
  background-color: #fff;
  padding: 1rem;
  transition: all 0.3s ease-out;
  position: relative;
}

.drop-item .input {
  pointer-events: none !important;
}

.drop-text-placeholder {
  position: absolute;
  pointer-events: none;
  width: 100%;
  max-width: 100%;
  display: block;
  opacity: 0.333;
  user-select: none;
  text-decoration: none;
}

.is-disabled {
  opacity: 0.5;
}

.is-dragging {
  opacity: 0.3;
  pointer-events: none;
}

.droppable-area:empty:after,
.is-empty:after {
  content: 'drop...';
  display: block;
  padding: 1rem;
  text-align: center;
  color: #ccc;
  background: #f8f8f8;
  border: 1px dashed #f8f8f8;
  box-sizing: border-box;
  transition: all 0.3s ease-out;
}

.on-middle:after {
  border-color: #333;
}

.on-top {
  border-top-color: #333;
}

.on-bottom {
  border-bottom-color: #333;
}

.on-left {
  border-left-color: #333;
}

.on-right {
  border-right-color: #333;
}

.editor {
  width: 300px;
  background-color: #eee;
}

.editor-slide {
  position: relative;
  overflow: hidden;

  .is-inactive {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    z-index: -1;
  }

  &.on-tab {
    .is-active {
      animation: previous-slide-in 250ms 250ms ease-in-out both;
    }
    .is-inactive {
      animation: previous-slide-out 250ms ease-in-out both;
    }
  }

  &.on-content {
    .is-active {
      animation: next-slide-in 250ms 250ms ease-in-out both;
    }
    .is-inactive {
      animation: next-slide-out 250ms ease-in-out both;
    }
  }
}

@keyframes previous-slide-in {
  0% {
    opacity: 0;
    transform: translateX(10%);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes previous-slide-out {
  0% {
    opacity: 1;
    transform: translateX(0);
  }

  100% {
    opacity: 0;
    transform: translateX(-10%);
  }
}

@keyframes next-slide-in {
  0% {
    opacity: 0;
    transform: translateX(-10%);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes next-slide-out {
  0% {
    opacity: 1;
    transform: translateX(0);
  }

  100% {
    opacity: 0;
    transform: translateX(10%);
  }
}
