.sortable-area {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}
.sortable-column {
  transition: transform 0.3s ease;
}
.sortable-title {
  padding: 0.5rem 1rem;
  background-color: #f8f8f8;
}
.sortable-list {
  padding: 1rem;
  background-color: #f8f8f8;
  display: flex;
  flex-direction: column;
  user-select: none;
  overflow: hidden;
  transition: transform 0.3s ease;
}
.sortable-item {
  padding: 1rem;
  margin-bottom: 5px;
  box-sizing: border-box;
  border: 1px solid #eee;
  background-color: #fff;
  min-height: 40px;
  display: flex;
  transition: transform 0.3s ease;
  //transition: transform 0.2s cubic-bezier(0.2, 0, 0, 1);
}

.is-dragging {
  //position: fixed;
  //visibility: hidden;
  z-index: 0;
  pointer-events: none;
}
