@import '../vars.scss';

.button {
  color: var(--color-on-button, #{$black});
  background-color: var(--color-button, #{$white});

  &:disabled {
    color: var(--color-on-button-disabled);
  }
}

.btn-primary {
  color: var(--color-on-button-primary, #{$white});
  background-color: var(--color-button-primary, #{$primary});
}

.btn-secondary {
  color: var(--color-on-button-secondary, #{$white});
  background-color: var(--color-button-secondary, #{$secondary});
}

.btn-light {
  color: var(--color-on-button-light, #{$black});
  background-color: var(--color-button-light, #{$gray-10});
}

.btn-dark {
  color: var(--color-on-button-dark, #{$white});
  background-color: var(--color-button-dark, #{$black});
}
