.button {
  color: var(--color-on-button);
  background-color: var(--color-button);

  &:disabled {
    color: var(--color-on-button-disabled);
  }
}

.btn-primary {
  color: var(--color-on-button-primary);
  background-color: var(--color-button-primary);
}

.btn-secondary {
  color: var(--color-on-button-secondary);
  background-color: var(--color-button-secondary);
}

.btn-light {
  color: var(--color-on-button-light);
  background-color: var(--color-button-light);
}

.btn-dark {
  color: var(--color-on-button-dark);
  background-color: var(--color-button-dark);
}
