.drop-area {
  width: 500px;
  height: 500px;
  border: 1px solid #ddd;
}

.drop-item {
  border: 1px dashed #eee;
  padding: 1rem;
  transition: all 0.5s ease-out;
  position: relative;
}
.drop-item.is-focus {
  position: relative;
}
.drop-item.is-empty:after {
  content: 'drop...';
  display: block;

  padding: 1rem;
  text-align: center;
  color: #ccc;
  background: #f8f8f8;
  border: 1px dashed #f8f8f8;
  transition: all 0.3s ease-out;
}
.drop-item.is-dragging {
  opacity: 0.3;
  .drop-item {
    border-color: #eee;
  }
}
.drop-item.on-top {
  border-top-color: rgb(73, 132, 241);
}
.drop-item.on-bottom {
  border-bottom-color: rgb(73, 132, 241);
}
.drop-item.on-middle:after {
  border-color: rgb(73, 132, 241);
}

.dnd-menu {
  position: absolute;
}
