.calendar {
}
.calendar-header {
}
.calendar-body {
}

.calendar-cell {
  height: 30px;
  box-shadow: 1px 0 0 0 #ddd, 0 1px 0 0 #ddd, 1px 0 0 0 #ddd,
    /* Just to fix the corner */ 1px 0 0 0 #ddd inset, 0 1px 0 0 #ddd inset;
}

.schedule {
}
.schedule-header {
}
.schedule-body {
  position: relative;
}
.schedule-timer {
  position: absolute;
  border-top: 1px solid blue;
  width: 100%;
  top: 0;
  left: 0;
}
