.message {
  padding: 1rem;
  text-align: center;

  @include transition();

  &._error {
    background-color: $red;
    color: $white;
  }
  &._success {
    background-color: $green;
    color: $white;
  }
}
