.numpad-input,
.numpad-key {
  text-align: center;
}

.numpad-input i {
  display: inline-block;
  margin: 2rem 1rem;
  width: 15px;
  height: 15px;
  border: 1px solid $silver;
  border-radius: 100px;

  @include transition();

  &.checked {
    background-color: $gray;
    border-color: $gray;
  }
}

.numpad-input input {
  border: none;
  text-align: center;
  font-size: 24px;
  height: 60px;
  letter-spacing: 1rem;
}

.numpad-key button {
  font-size: 18px;
  background: $shade;
  width: 80px;
  height: 80px;
  border: none;
  border-radius: 800px;
  margin: 1rem;

  &[name='key'] {
    font-size: 24px;
  }

  @include transition();

  &:hover {
    background: darken($shade, 10);
  }
  &:active {
    background: $shade;
  }
}
